<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <IsEnabled>true</IsEnabled>
  <ApplicationName>UiPath.CLI</ApplicationName>
  <TelemetryContainers>
    <TelemetryContainer
	    name="CLITelemetryContainer"
	    defaultOperationOutlet="CLIAppInsightsOutlet"
	    defaultEventOutlet="CLIAppInsightsOutlet">
    </TelemetryContainer>
  </TelemetryContainers>

  <Outlets>
    <AppInsightsOutlet
      name="CLIAppInsightsOutlet"
      instrumentationKey="3e9fae4f-a4ef-4463-a529-ca3828e66baf"
      outletType="TelemetryClient.Exporter.ApplicationInsights.ApplicationInsightsExporter, TelemetryClient.Exporter.ApplicationInsights" />
  </Outlets>
</configuration>